<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Test Suite" parallel="tests" thread-count="5">

<listeners>
        <listener class-name="com.qa.opencart.Listeners.RetryListener"/>
        <listener class-name="com.qa.opencart.Listeners.ExtentReportListener"/>
        <listener class-name="com.qa.opencart.Listeners.TestAllureListener"/>
    </listeners>

  <test name="Product Info Page Test">
    <classes>
      <class name="com.qa.opencart.tests.ProductInfoPageTest"/>
    </classes>
  </test>
  
  <test name="Account Page Test">
    <classes>
      <class name="com.qa.opencart.tests.AccountPageTest"/>
    </classes>
  </test>
  
  <test name="Login Page Test">
    <classes>
      <class name="com.qa.opencart.tests.LoginPageTest"/>
    </classes>
  </test>
  
  <test name="Search Result Page Test">
    <classes>
      <class name="com.qa.opencart.tests.SearchResultPageTest"/>
    </classes>
  </test>
  
  <test name="Registration Page Test">
    <classes>
      <class name="com.qa.opencart.tests.RegistrationPageTest"/>
    </classes>
  </test>

</suite>
